<div class="jumbotron"> 
  <div class="container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Фамилия</th>
        <th scope="col">Имя</th>
        <th scope="col">Отчество</th>
        <th></th>
        <th><button class="btn btn-primary" routerLink="./../add-author">Добавить</button></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let author of authors;">
        <th scope="row">{{ author.id }}</th>
        <th>{{ author.last_name }}</th>
        <th>{{ author.first_name }}</th>
        <th>{{ author.middle_name }}</th>
        <th><button class="btn btn-primary" (click)="editAuthor(author)">Изменить</button></th>
        <th><button class="btn btn-danger" (click)="deleteAuthor(author)">Удалить</button></th>
      </tr>
      </tbody>
    </table>
  </div>
</div>
