<main role="main">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/library.png" alt="">
            </a>
            <h1 class="display-3">IPLib</h1>
            <p>IPLib - интернет-собрание более чем 2 книг.</p>
            <p><a class="btn btn-lg btn-custom" href="#" role="button">Подробнее &raquo;</a></p>
          </div>
        <div class="col-md-6">
          <h2>Книги</h2>
          <p>Тут вы найдёте книги и может даже пряники</p>
          <p><a class="btn btn-color btn-custom" routerLink="/books/list" role="button">Перейти &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Админка</h2>
          <p>Дорогой админ,  здесь вы сможете добавлять книги</p>
          <p><a class="btn btn-color btn-custom" routerLink="/admin" role="button">Перейти &raquo;</a></p>
        </div>
      </div>
      <hr>
    </div>  
  </div>
</main>
