<nav class="navbar navbar-expand-lg custom-navbar">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" alt="">
    {{ title }} 
    <form class="form-inline login-form" style="float: right">
        <button class="btn" type="button btn-signin">Log In</button>
      </form>
  </a>

  <ul class="navbar-nav mr-auto">
    <li *ngFor="let item of items" class="nav-item">
      <a class="nav-link"
         routerLink="{{ item.path }}"
         routerLinkActive="custom"
         [routerLinkActiveOptions]="{exact: item.exact}">{{ item.title }}
      </a>
    </li>
  </ul>
</nav>