@primary: #dadada;
@primary_dark: #dadada;
@primary_light: #dadada;
@secondary: #dadada;
@secondary_dark: #dadada;
@secondary_light: #dadada;
@background: #dadada;
@popup: #dadada;
@primary: #dadada;

nav {
  background-color: @primary;
}

nav a {
  color: #000;
}

li:hover {
  background-color: @primary_light;
}

.login-form button {
  background-color: @secondary;
  margin-right: 1rem;
}

.custom {
  background-color: @primary_light;
}
